<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request</title>
</head>
<body th:object="${Crypto}">
    <form  action = "#" th:action="@{/req}" method = "GET">
        Crypto:<input type="text" th:field="*{cryptoString}" /><br>
        Currency:<input type="text" th:field="*{currencyString}"/><br>
        <button type = "submit">Submit</button>
    </form>
</body>
</html>